<!DOCTYPE html>
<html>
<head>
  <title>Vinmov</title>
  <link rel="stylesheet" type="text/css" href="stylesheets/index.css">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
  <div class="wrapper">
    <div class="header">
      <img src="images/VinMov.png">
      <h2>Silahkan Pilih Sesuai Kategori Yang Disediakan</h2>
      <br>
      <h3>VinMov merupakan aplikasi berbasis Semantik Web untuk Menampung atau Membuat List terkait data mengenai film-film antara tahun 1940an sampai dengan 1980an</h3>
      <br>
      <h5>Created By : </h5>
      <p>Muhammad Diva Eka Andriana</p>
      <p>140810190022</p>
    </div>
  </div>

  <div class="wrapper">
    <div class="listings">
      <a href="/movie_listings">
        <div class="listings-card">
          <img src="images/IMDB.png" >
          <h2 class="title-font">List Film Lengkap</h2>
        </div>
      </a>

      <a href="/action_movies">
        <div class="listings-card">
          <img src="images/action.jpg" >
          <h2 class="title-font">Action Movies</h2>
        </div>
      </a>

      <a href="/drama_movies">
        <div class="listings-card">
          <img src="images/drama.png" >
          <h2 class="title-font">Drama Movies</h2>
        </div>
      </a>

      <a href="/oscar_movies">
        <div class="listings-card">
          <img src="images/oscar.png">
          <h2 class="title-font">Oscar Movies</h2>
        </div>
      </a>

      <a href="/40s_movies">
        <div class="listings-card">
          <img src="images/40s.png" >
          <h2 class="title-font">1940s</h2>
        </div>
      </a>

      <a href="/50s_movies">
        <div class="listings-card">
          <img src="images/50s.png" >
          <h2 class="title-font">1950s</h2>
        </div>
      </a>

      <a href="/60s_movies">
        <div class="listings-card">
          <img src="images/60s.png" >
          <h2 class="title-font">1960s</h2>
        </div>
      </a>

      <a href="/70s_movies">
        <div class="listings-card">
          <img src="images/70s.png" >
          <h2 class="title-font">1970s</h2>
        </div>
      </a>

      <a href="/80s_movies">
        <div class="listings-card">
          <img src="images/80s.jpg" >
          <h2 class="title-font">1980s</h2>
        </div>
      </a>

    </div>
  </div>
</body>
</html>